.header {
  padding: 32px 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.headerWithAction {
  justify-content: space-between;
}

.action {
  flex-shrink: 0;
}
